---
- name: Create nginx config
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Reload nginx

- name: Create php config snippet
  ansible.builtin.template:
    src: php.conf.j2
    dest: /etc/nginx/php.conf
  notify: Reload nginx

- name: Define SCRIPT_FILENAME fastcgi parameter
  ansible.builtin.lineinfile:
    path: /etc/nginx/fastcgi_params
    regexp: '^[ \t]*fastcgi_param[ \t]+SCRIPT_FILENAME'
    line: 'fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;'
    insertbefore: fastcgi_param
    firstmatch: true
  notify: Reload nginx
