map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream reposilite {
    server 127.0.0.1:8082;
}

server {
    listen [::]:80;
    listen 80;
    server_name repo.betonquest.org;

    access_log /var/log/nginx/betonquest_repo.acc anon;
    error_log /var/log/nginx/betonquest_repo.err warn;

    return 301 https://repo.betonquest.org$request_uri;
}

server {
    listen [::]:443 ssl;
    listen 443 ssl;
    http2 on;
    server_name repo.betonquest.org;

    access_log /var/log/nginx/betonquest_repo.acc anon;
    error_log /var/log/nginx/betonquest_repo.err warn;

    include /etc/nginx/tls+header.conf;
    ssl_certificate /etc/letsencrypt/live/repo.betonquest.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/repo.betonquest.org/privkey.pem;

    root /server/www/betonquest/repo;

    client_max_body_size 1G;

    location / {
        proxy_pass http://reposilite;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_http_version 1.1;
    }
}
