{
  "authentication": {
    "ldap": {
      "enabled": false,
      "ssl": false,
      "hostname": "ldap.domain.com",
      "port": 389,
      "baseDn": "dc=company,dc=com",
      "searchUserDn": "cn=reposilite,ou=admins,dc=domain,dc=com",
      "searchUserPassword": "reposilite-admin-secret",
      "typeAttribute": "person",
      "userAttribute": "cn",
      "userFilter": "(&(objectClass=person)(ou=Maven Users))",
      "userType": "PERSISTENT"
    }
  },
  "statistics": {
    "enabled": true,
    "resolvedRequestsInterval": "MONTHLY"
  },
  "frontend": {
    "id": "betonquest",
    "title": "BetonQuest",
    "description": "BetonQuest artifacts and dependencies mirror",
    "organizationWebsite": "https://betonquest.org",
    "organizationLogo": "https://betonquest.org/RELEASE/_media/brand/Icon/Icon1K.png",
    "icpLicense": ""
  },
  "web": {
    "forwardedIp": "X-Forwarded-For"
  },
  "pommapper": {
    "namingConventionWarning": true,
    "runExistenceChecks": true,
    "validationLogLevel": "ALL",
    "artifacts": [
      {
        "id": "BetonQuest",
        "repository": "betonquest",
        "groupId": "org.betonquest",
        "artifactId": "betonquest",
        "versionXPath": [
          {
            "id": "pluginVersion",
            "xpath": "/project/properties/plugin.version/text()"
          },
          {
            "id": "betonquestVersion",
            "xpath": "/project/properties/betonquest.version/text()"
          }
        ]
      }
    ]
  },
  "maven": {
    "repositories": [
      {%- for repo in reposilite.repos +%}
      {
        "id": "{{ repo.id }}",
        "visibility": "{{ repo.visibility }}",
        "redeployment": false,
        "preserveSnapshots": true,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "STRICT",
        "metadataMaxAge": 86400,
        "proxied": []
      },
      {%- endfor +%}
      {
        "id": "mirror",
        "visibility": "HIDDEN",
        "redeployment": false,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "STRICT",
        "metadataMaxAge": 86400,
        "proxied": [
          {%- for repo in reposilite.repos if repo.mirror|default(false) +%}
          {
            "reference": "{{ repo.id }}",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {%- endfor +%}
          {%- for mirror in reposilite.mirrors +%}
          {
            "reference": "{{ mirror.id }}",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
          {%- if not loop.last %},
          {%- endif +%}
          {%- endfor +%}
        ]
      },
      {%- for mirror in reposilite.mirrors +%}
      {
        "id": "{{ mirror.id }}",
        "visibility": "HIDDEN",
        "redeployment": false,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "STRICT",
        "metadataMaxAge": 86400,
        "proxied": [
          {
            "reference": "{{ mirror.reference }}",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      }
      {%- if not loop.last %},
      {%- endif +%}
      {%- endfor +%}
    ]
  }
}
