Port 22
Protocol 2
LoginGraceTime 10
PermitRootLogin no
StrictModes yes
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
PrintMotd no # pam does that
ClientAliveInterval 30
ClientAliveCountMax 4
AllowGroups human
